*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 918px;
  z-index: -1; /* Ensure it stays in the background */
}
.content {
  position: relative;
  z-index: 1; /* Place content above the background */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 10%;
  padding-right: 10%;   
}
.content ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}
.content ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}
.content ul li a:hover {
  color: #DCCEAC;
  transition: color 0.3s ease;
}
.content button {
  border: none;
  outline: none;
  padding: 12px 30px;
  background: #DCCEAC;
  border-radius: 30px;
  color: black;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
.content button:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.container, .container-lg, .container-md, .container-sm {
  max-width: 960px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.2;
}

.fw-bold {
  font-weight: 700 !important;
}

.b-example-divider {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.fs-4 {
  font-size: calc(1.275rem + .3vw) !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.text-bg-dark {
  color: #fff !important;
  background-color: RGBA(var(--bs-dark-rgb), var(--bs-bg-opacity, 1)) !important;
}

.main p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: white
}

.border {
  border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.b-example-divider {
  width: 100%;
  height: 1rem;
  background-color: #DCCEAC;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.buttons{
  display: flex;
  justify-content: center;
  gap: 1rem;
}



*, ::after, ::before {
  box-sizing: border-box;
}

.pb-2 {
  padding-bottom: .5rem !important;
}

.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.h2, h2 {
  font-size: calc(1.325rem + .9vw);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1* var(--bs-gutter-y));
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

.row-cols-1>* {
  flex: 0 0 auto;
  width: 100%;
}

.col {
  flex: 1 0 0%;
}

.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: .75rem;
}

.bg-gradient {
  background-image: var(--bs-gradient) !important;
}

.fs-2 {
  font-size: calc(1.325rem + .9vw) !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}
.align-items-center {
  align-items: center !important;
}

.justify-content-center {
  justify-content: center !important;
}
.d-inline-flex {
  display: inline-flex !important;
}

.text-bg-primary {
  color: #fff !important;
  background-color: RGBA(var(--bs-primary-rgb), var(--bs-bg-opacity, 1)) !important;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

img, svg {
  vertical-align: middle;
}

:not(svg) {
  transform-origin: 0px 0px;
}

.text-body-emphasis {
  --bs-text-opacity: 1;
  color: white !important; /*rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important; */
}

.feature p {
  margin-top: 0;
  margin-bottom: 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  color: #DCCEAC;
}

div {
  display: block;
  unicode-bidi: isolate;
}

.btn-signing-main{
  text-decoration: none;
  background-color: #DCCEAC; 
  color: royalblue;
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-align: center;
  transition: background-color 0.2s ease;
}

.btn-signing-main:hover{
  background-color: white;
}

.img-container{
  position: absolute;
  bottom: 9%;
  right: -25%;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.align-items-center {
  align-items: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.border-bottom {
  border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
}

.d-flex {
  display: flex !important;
}

.nav-item {
  text-decoration-color: black !important;
}

.about {
  display: block;
  padding: 50px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.about h1 {
  font-size: 2rem;
  color: black !important;
}

.about p {
  font-size: 1.5rem;
  color: white !important;
  margin-top: 10px;
}

.mission {
  display: block;
  color: black !important;
  text-align: center;
  padding: 50px;
}

.mission h2 {
  font-size: 2rem;
  color: black !important;
}

.mission p {
  font-size: 1.5rem;
  color: white !important;
}



footer {
  display: block;
  unicode-bidi: isolate;
  background-color: #DCCEAC;
}

body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; } 
canvas{ display: block;} /* ---- particles.js container ---- */ 
#particles-js{ position: absolute; width: 1522px; height: 686px; background-color: #5218FA; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; top: 918px; left: 0px; right: 0px; bottom: 1600px; } /* ---- stats.js ---- */
.js-count-particles{ font-size: 1.1em; } #stats, 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }




